<!-- Dexerto Blogs -->
<div class='blog-section'>
  <%= link_to image_tag('dex.jpg', class:'client-logo'), 'https://www.dexerto.com/author/throoper/', target:'_blank' %>

  <%= link_to 'https://www.dexerto.com/news/esports-players-of-the-year-snakebite-halo/33773', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-snakebite.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Esports Player of the Year: Snakebite</p></b>
      <p class='blog-text'>September 4th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/esports-team-year-optic-gaming-halo/33772de', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-OpTic.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Esports Team of the Year: OpTic Gaming (Halo)</p></b>
      <p class='blog-text'>August 6th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/five-things-learned-hcs-summer-season-finals-sunday/33097', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-fivethings.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Five Things We Learned at the HCS Summer Season Finals</p></b>
      <p class='blog-text'>July 12th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/hcs-relegation-concludes-dreamhack-atlanta-fall-pro-league-teams-determined/33036', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-hcsrelegation.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>HCS Relegation Concludes at DreamHack Atlanta - Fall Pro League Teams Determined</p></b>
      <p class='blog-text'>July 11th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/hcs-summer-season-finals-dreamhack-atlantapredictions/32932', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-hcssummer.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>HCS Summer Season 2017 Finals Predictions</p></b>
      <p class='blog-text'>July 5th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/halo-str8-rippin-facing-relegation-hcs-summer-finals-2017/32819', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-relegation.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Halo's Oldest Organization Facing Relegation</p></b>
      <p class='blog-text'>July 2nd, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/hcs-summer-pro-league-preview-final-match-day/31624', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-hcssummer.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>HCS Summer Pro League Preview - Final Match Day</p></b>
      <p class='blog-text'>June 28th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/optic-gaming-splyce-secure-top-two-spots-hcs-summer-2017-week3-recap/31419', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-splyce.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>OpTic Gaming and Splyce Secure Top Two Spots - HCS Summer 2017 Week 3 Recap</p></b>
      <p class='blog-text'>June 23rd, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/hcs-summer-pro-league-preview-week-3-day-2/31382', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-hcssummer.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>HCS Summer Pro League Preview - Week 3 Day 2</p></b>
      <p class='blog-text'>June 17th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/hcs-2017-summer-pro-league-preview-week-3-day-one/31359', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-hcssummer.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>HCS Summer Pro League Preview - Week 3 Day 1</p></b>
      <p class='blog-text'>June 16th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/hcs-roster-swap-str8-liquid-make-trade/31275', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-swap.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Halo Roster Swap - Str8 and Liquid Make a Trade</p></b>
      <p class='blog-text'>June 12th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/oxygen-supremacy-continue-amateur-dominance-second-legendary-cup-victory/31060', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-oxygen.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Oxygen Supremacy Continue Amateur Dominance with Second Legendary Cup Victory</p></b>
      <p class='blog-text'>June 10th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/retirement-brett-naded-leonard-greatest-halo-player-never-win-halo-esports/30695', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-naded.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>The Retirement of Brett 'Naded' Leonard - The Greatest Halor Player to Never Win</p></b>
      <p class='blog-text'>June 7th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/four-european-professional-teams-given-champion-bracket-spots-dreamhack-atlanta/30946', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-4euros.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Four European HCS Teams will be Given Champion Bracket Spots for Summer 2017 Finals at DreamHack Atlanta</p></b>
      <p class='blog-text'>June 4th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/hcs-2017-summer-pro-league-preview-week-two/30920', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-hcssummer.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>HCS 2017 Summer Pro League Preview - Week Two</p></b>
      <p class='blog-text'>June 3rd, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/hcs-2017-summer-pro-league-preview-day-two-week-one-halo-esports/30753', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-hcssummer.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>HCS 2017 Summer Pro League Preview - Day Two Week One</p></b>
      <p class='blog-text'>June 1st, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/hcs-2017-summer-pro-league-preview-day-one-week-one-halo-esports/30726', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-hcssummer.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>HCS Summer Pro League Preview - Day One Week One</p></b>
      <p class='blog-text'>May 24th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/5-things-learned-umg-daytona/30458', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-umg.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>5 Things We Learned at UMG Daytona</p></b>
      <p class='blog-text'>May 17th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/umg-halo-daytona-predictions-top-3-dark-horse-player-to-watch-and-more/30311', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-daytona.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>UMG Halo Daytona Predictions: Top 3, Dark Horse, Player to Watch and More</p></b>
      <p class='blog-text'>May 10th, 2017</p>
    </div>
  <% end %>

  <%= link_to 'https://www.dexerto.com/news/team-envyus-chance-bounce-back-daytona/30238', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-daytona-envyus.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Team EnVyUs: A Chance to Bounce Back at UMG Daytona</p></b>
      <p class='blog-text'>May 6th, 2017</p>
    </div>
  <% end %>
</div>

<!-- Paravine Blogs -->
<div class='blog-section'>
  <%= link_to image_tag('pv.png', class:'client-logo'), 'http://www.paravine.com/author/throoper/', target:'_blank' %>

  <%= link_to 'http://www.paravine.com/2015/02/european-mid-season-power-rankings-spring-2015/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('Eu_LCS.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>European Mid Season Power Rankings</p></b>
      <p class='blog-text'>February 26th, 2015</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2015/02/snapshots-episode-2-jacob-arkanum-santos/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-blog-banner.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Snapshots Episode 2 - Jacob "Akranum" Santos</p></b>
      <p class='blog-text'>February 16th, 2015</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2015/02/snapshots-episode-1-tyler-ninja-blevins/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-blog-banner.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Snapshots Episode 1 - Tyler "Ninja" Blevins</p></b>
      <p class='blog-text'>February 5th, 2015</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2015/01/paravine-preseason-power-rankings-north-america/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-ranking-NA.jpeg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Paravine Preseason Power Rankings: North America</p></b>
      <p class='blog-text'>January 21st, 2015</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2015/01/paravine-european-power-rankings/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('Eu_LCS.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Paravine Preseason Power Rankings: Europe</p></b>
      <p class='blog-text'>January 20th, 2015</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/11/confusion-possible-collusion-involving-team-fusion/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-confusion.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Confusion over Possible Collusion Involving Team Fusion</p></b>
      <p class='blog-text'>November 24th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/09/partition-people-persona-problem-plaguing-community/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-partition.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>The Partition of People and Their Persona - A Problem Plaguing the Community</p></b>
      <p class='blog-text'>September 30th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/09/china-versus-west-regional-comparison-heading-worlds/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-comparison.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Where is China Versus the West? A Regional Comparison Heading into Worlds</p></b>
      <p class='blog-text'>September 17th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/09/improving-rift-rift-interview-sports-psychologist-robert-yip/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-improving.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Improving On the Rift From Off the Rift - An Interview With Sports Psychologist Robert Yip</p></b>
      <p class='blog-text'>September 2nd, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/08/community-loves-dignitas-means-can-never-great/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-dig.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Why the community loves Dignitas and why it means they can never be great</p></b>
      <p class='blog-text'>August 19th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/08/paravine-searching-video-editor/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-searching.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Paraving is Searching for a Passionate Video Editor!</p></b>
      <p class='blog-text'>August 8th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/06/visa-woes-at-wembley/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-champions.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>The Woes of Wembley Without Visas</p></b>
      <p class='blog-text'>June 23rd, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/06/esports-organizations-press-precarious-position/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-tsm.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>eSports Organizations and Content Creation - A Precarious Position</p></b>
      <p class='blog-text'>June 12th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/06/deal-toxic-professionals/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-toxic.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>What to do, with "toxic" professional players?</p></b>
      <p class='blpog-text'>June 4th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/05/week-1-lcs-recap/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-ranking-NA.jpeg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Week 1 LCS Recap</p></b>
      <p class='blog-text'>May 28th, 2014</p>
    </div>
  <% end %>
</div>

<!-- World Gaming Blogs -->
<div class='blog-section'>
  <%= link_to image_tag('wg.png', class:'client-logo'), 'https://inside.worldgaming.com/?s=dave+throop', target:'_blank' %>

  <%= link_to 'https://inside.worldgaming.com/kontrol-freek-alpha-edge-thumbsticks-product-review/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('wg-kontrol.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Kontrol Freek Alpha Edge Thumbsticks Product Review</p></b>
      <p class='blog-text'>September 12th, 2017</p>
    </div>
  <% end %>


    <%= link_to 'https://inside.worldgaming.com/quakcon-2017-return-original-fps-esport/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-quake.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Quakecon 2017: The Return of the Original FPS Esport</p></b>
        <p class='blog-text'>Semberept 8th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/esl-gamescom-pubg-lan-invitational-sparks-multiple-community-discussions/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-esl.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>ESL Gamescom PUBG Lan Invitational Sparks Multiple Community Discussions</p></b>
        <p class='blog-text'>September 8th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/overwatch-world-cup-update/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-owcup.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Overwatch World Cup Update</p></b>
        <p class='blog-text'>September 5th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/injustice-2-philly-summer-jam-vs-fighting-results-absolute-battle-results/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-absoluteb.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Injustice 2: Philly Summer Jam vs Fighting Results and Absolute Battle Results</p></b>
        <p class='blog-text'>August 28th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/gambit-dominate-krakow-malmo-next-on-the-horizon-csgo/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-gambit.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Gambit Dominate Krakow Malmo Next on the Horizon CSGO</p></b>
        <p class='blog-text'>August 28th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/optic-gaming-becomes-2017-cod-champs/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-optic.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Optic Gaming Beomes 2017 COD Champs</p></b>
        <p class='blog-text'>August 12th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/blitzman-interview/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-blitz.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Blitzman Interview</p></b>
        <p class='blog-text'>July 28th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/kontrolfreek-alpha-edge-thumb-sticks-product-review/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-thumb.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Kontrol Freek Alpha Edge Thumb-sticks Product Review</p></b>
        <p class='blog-text'>July 10th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/overwatch-contenders-comes-to-a-close-european-and-north-american-review/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-contenders.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Overwatch Contenders Comes to a Close - European and North American Review</p></b>
        <p class='blog-text'>July 5th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/cwl-pro-league-stage-2-playoffs/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-cwl.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>CWL Pro League Stage 2 Playoffs - Group Red Complete</p></b>
        <p class='blog-text'>July 5th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/cwl-returns-to-england-sheffields-summary/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-sheffield.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>CWL Returns to England - Sheffields Summary</p></b>
        <p class='blog-text'>July 4th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/overwatch-contenders-groups-concluded-in-north-america-and-europe/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-contenders2.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Overwatch COntenders Groups Concluded in North America and Europe</p></b>
        <p class='blog-text'>July 4th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/xbox-one-microsoft-elite-controller-product-review/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-elite.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Xbox One Microsoft Elite Controller Product Review</p></b>
        <p class='blog-text'>July 4th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/gamer-product-review-kontrol-freek-performance-grips/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-pgrips.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Gamer Product Review: Kontrol Freek Performance Grips</p></b>
        <p class='blog-text'>June 21st, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/cwl-anaheim-championship-sunday-recap/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-cwlrecap.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Another Call of Duty World League Stop Complete - Optic Upset in Anaheim</p></b>
        <p class='blog-text'>June 20th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/worldgaming-esports-professional-profile-jaru/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-jaru.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Worldgaming Esports Professional Profile: Jaru</p></b>
        <p class='blog-text'>June 12th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/worldgaming-esports-professional-player-profile-brokenshard/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-brokenshard.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Worldgaming Esports Professional Player Profile: Brokenshard</p></b>
        <p class='blog-text'>June 5th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/inside-gamer-news-csgo-at-dreamhack/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-dreamhack.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Inside Gamer News: CS:GO at DreamHack</p></b>
        <p class='blog-text'>May 13th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/league-of-legends-mid-season-invitational/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-springfinals.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Inside Gamer News: League of Legends Mid Season Invitational</p></b>
        <p class='blog-text'>May 12th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/ogn-apex-season-3-kicks-off-group-stage-play/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-ogn.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>OGN Apex Season 3 Kicks Off Group Stage Play</p></b>
        <p class='blog-text'>May 11th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/gambit-esports-win-csgo-dreamhack-austin/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-dreamhack-austin.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Gambit Esports Win CS:GO DreamHack Austin</p></b>
        <p class='blog-text'>May 10th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/league-of-legends-champion-series-finals/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-champion-series.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>League of Legends Champion Series Finals Recap</p></b>
        <p class='blog-text'>April 27th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/umg-sault-ste-marie-event-recap-xotic-holler-interview/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-xhinterview.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>UMG Sault Ste. Marie Event Recap - Xotic and Holler Interview</p></b>
        <p class='blog-text'>April 26th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/cwl-birmingham-recap/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-birmingham.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>CWL Birmingham Recap</p></b>
        <p class='blog-text'>April 21st, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/lcs-spring-2017-semi-finals-recap/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-lcs-spring2017.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>LCS Spring 2017 Semifinals Recap + Finals Preview</p></b>
        <p class='blog-text'>April 21st, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/ogn-apex-season-two/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-ogn-apex.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Lunatic-Hai Crowned OGN Apex Season Two Champions</p></b>
        <p class='blog-text'>April 18th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/ogn-apex-semi-finals-overview/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-ogn-apex.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>LW Blue Takes Third Place in OGN Apex - Meta Athena Exposed</p></b>
        <p class='blog-text'>April 6th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/lcs-summer-split-team-liquid-and-team-envyus/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-envyus.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Team Liquid and Team EnVyUs Retain their Slots for the LCS Summer Split</p></b>
        <p class='blog-text'>April 5th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/halo-world-championship-coverage/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-opticgaming.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Optic Gaming Dominate their Second Halo World Championship</p></b>
        <p class='blog-text'>April 4th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/ogn-apex-semi-finals-concluded-meta-athena-stumbles/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-ogn-apex.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>OGN Apex Semifinals Concluded - Meta Athena Stumbles</p></b>
        <p class='blog-text'>March 30th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/ogn-apex-quarter-finals/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-ogn-apex.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>OGN Apex Quarter Finals - LW Blue Takes Final Spot in Semifinals</p></b>
        <p class='blog-text'>March 24th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/gamer-news-cwl-dallas-preview/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-cwldallas.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Inside Gamer News: CWL Dallas</p></b>
        <p class='blog-text'>March 14th, 2017</p>
      </div>
    <% end %>
</div>
