<!-- Dexerto Blogs -->
<div class='blog-section'>
  <%= link_to image_tag('dex.jpg', class:'client-logo'), 'https://www.dexerto.com/author/throoper/', target:'_blank' %>

  <%= link_to 'https://www.dexerto.com/news/esports-players-of-the-year-snakebite-halo/33773', class:'blog-link', target:'_blank' do %>
    <%= image_tag('snakebite-626x314.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Esports Player of the Year: Snakebite</p></b>
      <p class='blog-text'>September 4th, 2017</p>
    </div>
  <% end %>

  <%= link_to '', class:'blog-link', target:'_blank' do %>
    <%= image_tag('', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'></p></b>
      <p class='blog-text'>4th, 20</p>
    </div>
  <% end %>

  <%= link_to '', class:'blog-link', target:'_blank' do %>
    <%= image_tag('', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'></p></b>
      <p class='blog-text'>4th, 20</p>
    </div>
  <% end %>

  <%= link_to '', class:'blog-link', target:'_blank' do %>
    <%= image_tag('', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'></p></b>
      <p class='blog-text'>4th, 20</p>
    </div>
  <% end %>

  <%= link_to '', class:'blog-link', target:'_blank' do %>
    <%= image_tag('', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'></p></b>
      <p class='blog-text'>4th, 20</p>
    </div>
  <% end %>

  <%= link_to '', class:'blog-link', target:'_blank' do %>
    <%= image_tag('', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'></p></b>
      <p class='blog-text'>4th, 20</p>
    </div>
  <% end %>

  <%= link_to '', class:'blog-link', target:'_blank' do %>
    <%= image_tag('', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'></p></b>
      <p class='blog-text'>4th, 20</p>
    </div>
  <% end %>

  <%= link_to '', class:'blog-link', target:'_blank' do %>
    <%= image_tag('', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'></p></b>
      <p class='blog-text'>4th, 20</p>
    </div>
  <% end %>

  <%= link_to '', class:'blog-link', target:'_blank' do %>
    <%= image_tag('', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'></p></b>
      <p class='blog-text'>4th, 20</p>
    </div>
  <% end %>
</div>

<!-- Paravine Blogs -->
<div class='blog-section'>
  <%= link_to image_tag('pv.png', class:'client-logo'), 'http://www.paravine.com/author/throoper/', target:'_blank' %>

  <%= link_to 'http://www.paravine.com/2015/02/european-mid-season-power-rankings-spring-2015/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('Eu_LCS.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>European Mid Season Power Rankings</p></b>
      <p class='blog-text'>February 26th, 2015</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2015/02/snapshots-episode-2-jacob-arkanum-santos/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-blog-banner.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Snapshots Episode 2 - Jacob "Akranum" Santos</p></b>
      <p class='blog-text'>February 16th, 2015</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2015/02/snapshots-episode-1-tyler-ninja-blevins/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-blog-banner.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Snapshots Episode 1 - Tyler "Ninja" Blevins</p></b>
      <p class='blog-text'>February 5th, 2015</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2015/01/paravine-preseason-power-rankings-north-america/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-ranking-NA.jpeg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Paravine Preseason Power Rankings: North America</p></b>
      <p class='blog-text'>January 21st, 2015</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2015/01/paravine-european-power-rankings/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('Eu_LCS.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Paravine Preseason Power Rankings: Europe</p></b>
      <p class='blog-text'>January 20th, 2015</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/11/confusion-possible-collusion-involving-team-fusion/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-confusion.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Confusion over Possible Collusion Involving Team Fusion</p></b>
      <p class='blog-text'>November 24th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/09/partition-people-persona-problem-plaguing-community/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-partition.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>The Partition of People and Their Persona - A Problem Plaguing the Community</p></b>
      <p class='blog-text'>September 30th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/09/china-versus-west-regional-comparison-heading-worlds/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-comparison.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Where is China Versus the West? A Regional Comparison Heading into Worlds</p></b>
      <p class='blog-text'>September 17th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/09/improving-rift-rift-interview-sports-psychologist-robert-yip/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-improving.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Improving On the Rift From Off the Rift - An Interview With Sports Psychologist Robert Yip</p></b>
      <p class='blog-text'>September 2nd, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/08/community-loves-dignitas-means-can-never-great/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-dig.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Why the community loves Dignitas and why it means they can never be great</p></b>
      <p class='blog-text'>August 19th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/08/paravine-searching-video-editor/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-searching.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Paraving is Searching for a Passionate Video Editor!</p></b>
      <p class='blog-text'>August 8th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/06/visa-woes-at-wembley/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-champions.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>The Woes of Wembley Without Visas</p></b>
      <p class='blog-text'>June 23rd, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/06/esports-organizations-press-precarious-position/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-tsm.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>eSports Organizations and Content Creation - A Precarious Position</p></b>
      <p class='blog-text'>June 12th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/06/deal-toxic-professionals/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-toxic.png', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>What to do, with "toxic" professional players?</p></b>
      <p class='blpog-text'>June 4th, 2014</p>
    </div>
  <% end %>

  <%= link_to 'http://www.paravine.com/2014/05/week-1-lcs-recap/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('pv-ranking-NA.jpeg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Week 1 LCS Recap</p></b>
      <p class='blog-text'>May 28th, 2014</p>
    </div>
  <% end %>
</div>

<!-- World Gaming Blogs -->
<div class='blog-section'>
  <%= link_to image_tag('wg.png', class:'client-logo'), 'https://inside.worldgaming.com/?s=dave+throop', target:'_blank' %>

  <%= link_to 'https://inside.worldgaming.com/kontrol-freek-alpha-edge-thumbsticks-product-review/', class:'blog-link', target:'_blank' do %>
    <%= image_tag('wg-kontrol.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Kontrol Freek Alpha Edge Thumbsticks Product Review</p></b>
      <p class='blog-text'>September 12th, 2017</p>
    </div>
  <% end %>


    <%= link_to 'https://inside.worldgaming.com/quakcon-2017-return-original-fps-esport/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-quake.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Quakecon 2017: The Return of the Original FPS Esport</p></b>
        <p class='blog-text'>Semberept 8th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/esl-gamescom-pubg-lan-invitational-sparks-multiple-community-discussions/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-esl.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>ESL Gamescom PUBG Lan Invitational Sparks Multiple Community Discussions</p></b>
        <p class='blog-text'>September 8th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/overwatch-world-cup-update/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-owcup.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Overwatch World Cup Update</p></b>
        <p class='blog-text'>September 5th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/injustice-2-philly-summer-jam-vs-fighting-results-absolute-battle-results/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-absoluteb.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Injustice 2: Philly Summer Jam vs Fighting Results and Absolute Battle Results</p></b>
        <p class='blog-text'>August 28th, 2017</p>
      </div>
    <% end %>

    <%= link_to 'https://inside.worldgaming.com/gambit-dominate-krakow-malmo-next-on-the-horizon-csgo/', class:'blog-link', target:'_blank' do %>
      <%= image_tag('wg-gambit.jpg', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'>Gambit Dominate Krakow Malmo Next on the Horizon CSGO</p></b>
        <p class='blog-text'>August 28th, 2017</p>
      </div>
    <% end %>

    <%= link_to '', class:'blog-link', target:'_blank' do %>
      <%= image_tag('', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'></p></b>
        <p class='blog-text'>4th, 20</p>
      </div>
    <% end %>

    <%= link_to '', class:'blog-link', target:'_blank' do %>
      <%= image_tag('', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'></p></b>
        <p class='blog-text'>4th, 20</p>
      </div>
    <% end %>

    <%= link_to '', class:'blog-link', target:'_blank' do %>
      <%= image_tag('', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'></p></b>
        <p class='blog-text'>4th, 20</p>
      </div>
    <% end %>

    <%= link_to '', class:'blog-link', target:'_blank' do %>
      <%= image_tag('', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'></p></b>
        <p class='blog-text'>4th, 20</p>
      </div>
    <% end %>

    <%= link_to '', class:'blog-link', target:'_blank' do %>
      <%= image_tag('', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'></p></b>
        <p class='blog-text'>4th, 20</p>
      </div>
    <% end %>

    <%= link_to '', class:'blog-link', target:'_blank' do %>
      <%= image_tag('', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'></p></b>
        <p class='blog-text'>4th, 20</p>
      </div>
    <% end %>

    <%= link_to '', class:'blog-link', target:'_blank' do %>
      <%= image_tag('', class:'blog-image') %>
      <div class='center-wrap'>
        <b><p class='blog-text'></p></b>
        <p class='blog-text'>4th, 20</p>
      </div>
    <% end %>
</div>
