<div class='center-wrap'>
  <b><h3 id='title'>Esports Player of the Year: Snakebite</p></h4></b>
  <p class=''>September 4th, 2017</p>

  <%= image_tag('snakebite-626x314.jpg', class:'big-blog-image') %>

  <p class='paragraph'>
    While Halo has its fair share of star players at the moment,
    <%= link_to "Paul ‘Snakebite’", "https://twitter.com/SnakeBiteFPS", target:'_blank' %>
    Duarte stands above them all.
  </p>

  <p class='paragraph'>
    It is impossible to dispute the success that Snakebite has found throughout 2017
    and Halo 5’s life cycle. Captain of the year’s most successful team, OpTic Gaming,
    he has consistently performed at the highest level, helping lead his team to victory
    in more ways than one.
  </p>

  <p class='paragraph'>
    Other than his teammates, no one else on the circuit can rival Snakebite’s three
    tournament victories and two grand final appearances. Among his triumphs was the
    2017 Halo World Championship — the most significant event of the year that punctuated
    a remarkable season.
  </p>

  <p class='paragraph'>
    A master-of-all-trades, Snakebite is perhaps OpTic’s most dangerous weapon, regularly
    leading the way in both objective play and slaying. His consistency is the rock
    on which OpTic can base their play, and his coordination with longtime duo partner
    Mathew ‘Royal2’ Fiorante is a benchmark of team chemistry.
  </p>

  <div class="frame">
    <iframe width="480" height="270" src="https://www.youtube.com/embed/wq7eK2xNwQc" frameborder="0" allowfullscreen></iframe>
  </div>

  <p class='paragraph'>
    This was emphasised through his value in the
    <%= link_to 'HCS Fantasy leagues', 'http://www.fantasyhcs.com/stats/players.php', target:'_blank' %>
    . He concluded the previous season as the second most effective player, and the most efficient on his
    team by four places. He didn’t quite lead the league in any category but did place
    consistently near the top in each one, demonstrating an elite level of versatility
    that’s all but the norm for the back-to-back world champion.
  </p>

  <p class='paragraph'>
    While being the captain and a driving force in-game for the best team in Halo would
    already be enough to secure him a nomination for
    <%= link_to 'Esports Industry’s Player of the Year', 'https://www.esportsindustryawards.com/nominate/', target:'_blank' %>,
    it’s his prowess as OpTic’s chief strategist that should seal a vote by all Halo
    esports enthusiasts.
  </p>

  <p class='blog-text'><b>Esports Players of the Year:</b></p>
  <ul class='blog-list'>
    <li><%= link_to 'FormaL', 'https://www.dexerto.com/news/esports-player-of-the-year-formal-optic/33682', target:'_blank' %></li>
    <li><%= link_to 'FalleN', 'https://www.dexerto.com/news/esports-players-year-fallen/34359', target:'_blank' %></li>
    <li><%= link_to 'Zer0', 'https://www.dexerto.com/news/console-players-of-the-year-zer0/33545', target:'_blank' %></li>
  </ul>

  <p class='paragraph'>
    Well known for his legendary notebook that contains detailed plans for each and
    every series, Snakebite is OpTic’s authority on bans and devises the tactics that
    allow each of his teammates to maximize on their abilities. He matches considerable
    brawn with cunning brains to deliver his team’s plans from concept to execution.
  </p>

  <p class='paragraph'>
    Such execution has led OpTic Gaming to three Major titles and five Grand Finals
    in 2017 alone. Snakebite and co became the Halo World Championship 2017 winners
    back in March, having won two previous tournaments in the run up. Defeats to EnVyUs
    and Splyce have left OpTic Gaming without a championship in two tournaments,
    leaving a slight blemish on their incredible record.
  </p>

  <p class='paragraph'>
    Anyone with the pedigree to represent an outfit like OpTic Gaming is always going
    to be a special player, but spearheading such a dynasty throughout has a reserved
    level of credit . This year, Snakebite has consolidated his status as a Halo player
    for the history books, putting on an exhibition of performances that make him a
    worthy nominee for esports player of the year.
  </p>
</div>
