<div class='center-wrap'>
  <b><h3 class=''>European Mid Season Power Rankings - Spring 2015</p></h4></b>
  <p class=''>February 26th, 2015</p>

  <%= image_tag('Eu_LCS.jpg', class:'big-blog-image') %>

  <p class='paragraph'>
    With the first half of the 2015 European League Championship Series Spring Split
    in the books, it is time to revisit our
    <%= link_to 'European Power Rankings', 'http://www.paravine.com/2015/01/paravine-european-power-rankings/', target:'_blank' %>.
    There are currently three tiers in Europe with intense competition within them, but limited movement
    between them. SK stands alone atop the rankings, while second through seventh is
    still a battle. The bottom three look certain to finish the split there and are all
    vying to avoid automatic relegation. Thanks go to
    <%= link_to 'Steven Nguyen', 'https://twitter.com/SirNoogen', target:'_blank' %>,
    <%= link_to 'Hermit', 'https://twitter.com/mtnhrmt', target:'_blank' %>,
    <%= link_to 'Chase Wassenar', 'https://twitter.com/RedShirtKing', target:'_blank' %> and
    <%= link_to 'Dave Throop', 'https://twitter.com/David_Throop', target:'_blank' %> for contributing.
  </p>

  <p class='blog-text'><b>1) SK</b></p>
  <p class='paragraph'>
    SK were predicted to be the best team this split and have lived up to the
    high expectations set for them so far. After such a dominating start to the
    season, SK has an 8-2 record in the first half of the split.
    <%= link_to 'Hampus “Fox” Myhre', 'http://lol.esportspedia.com/wiki/Fox', target:'_blank' %>
    has proven himself as an LCS caliber mid laner while the addition of
    <%= link_to 'Konstantinos “Forg1ven” Tzortziou', 'http://lol.esportspedia.com/wiki/FORG1VEN', target:'_blank' %>
    has given the team a world class threat in the bottom lane. In addition to
    these mechanical upgrades, the team has retained their synergy and analytical
    mastery over the game. In spite of their first loss last week at the hands of
    Fnatic, this is SK’s split to lose, as they look to continue their dominance in Europe.
  </p>

  <p class='blog-text'><b>2) Fnatic</b></p>
  <p class='paragraph'>
    Even though Fnatic lost the majority of their roster before the split, they
    had one of the best performances in the first half.
    <%= link_to 'Heo “Huni” Seung-hoon', 'http://lol.esportspedia.com/wiki/Huni', target:'_blank' %>
    has shown to be one of the strongest tops in the region and
    <%= link_to 'Kim “ReignOver” Yeu-jin', 'http://lol.esportspedia.com/wiki/ReignOver', target:'_blank' %>
    has quelled much of the doubt surrounding his ability. Lead by decisive shotcaller
    <%= link_to 'Bora “Yellowstar” Kim', 'http://lol.esportspedia.com/wiki/YellOwStaR', target:'_blank' %>
    and multiple impressive performances in the mid lane by
    <%= link_to 'Fabian “Febiven” Diepstraten', 'http://lol.esportspedia.com/wiki/Febiven', target:'_blank' %>,
    Fnatic has triumphed over some of the most highly-respected teams in the region.
    While they did manage to defeat SK in week 5, Fnatic still has a few more
    vulnerabilities than SK, particularly in the mid game. A strong second half
    could bring about change at the top.
  </p>

  <p class='blog-text'><b>3) H2K</b></p>
  <p class='paragraph'>
    Although H2K lost Febiven to Fnatic before the start of the split, they have
    certainly made their mark during their first season of LCS competition.
    <%= link_to 'Andrei “Odoamne” Pascu', 'http://lol.esportspedia.com/wiki/Odoamne', target:'_blank' %>
    has proved the hype surrounding him was real by being a dominant force in the
    top lane. Questions surrounded the performance of
    <%= link_to 'Yoo “Ryu” Sang-ook', 'http://lol.esportspedia.com/wiki/Ryu', target:'_blank' %>
    while he was on Millenium, but he has shown that he still has what it takes
    to be a strong player. The addition of
    <%= link_to 'Raymond “KaSing” Tsang', 'http://lol.esportspedia.com/wiki/KaSing', target:'_blank' %>
    has significantly improved their bottom lane, and the whole team has become
    stronger as a result. If they continue to perform at this level they will
    solidify themselves as a team in the region’s top four.
  </p>

  <p class='blog-text'><b>4) Unicorns of Love</b></p>
  <p class='paragraph'>
    A new team to the LCS this split, Unicorns are quickly proving that their
    victory over Team SoloMid at IEM San Jose was more than a fluke. Their jungler
    <%= link_to 'Mateusz “Kikis” Szkudlarek', 'http://lol.esportspedia.com/wiki/Kikis', target:'_blank' %>
    has shown that he is in the upper echelon of junglers while the solo lanes
    have also both demonstrated their ability to compete at the highest level in
    Europe. There were a lot of questions surrounding the team’s style of play and
    whether it could best the top teams in Europe on a consistent basis, but
    after the first half of the split it certainly looks like they can. Continuing
    to play the way they are should net them a finish within the upper half of the
    league this split.
  </p>

  <p class='blog-text'><b>5) Elements</b></p>
  <p class='paragraph'>
    Despite a roster change that was thought to be an upgrade when
    <%= link_to 'Martin “Rekkles” Larsson', 'http://lol.esportspedia.com/wiki/Rekkles', target:'_blank' %>
    stepped in for
    <%= link_to 'Erik “Tabzz” van Helvert', 'http://lol.esportspedia.com/wiki/Tabz', target:'_blank' %>,
    the former European Champions have fallen into the middle of the pack. Many
    of the problems that previously existed still plague the team, namely
    indecisive shot-calling. To try and remedy this, they replaced long time veteran
    <%= link_to 'Mike “Wickd” Petersen', 'http://lol.esportspedia.com/wiki/Wickd', target:'_blank' %>
    with former Millenium member
    <%= link_to 'Kevin “Kev1n” Rubiszewski', 'http://lol.esportspedia.com/wiki/Kev1n', target:'_blank' %>.
    However, this change does not address the fundamental problems within the team.
    On paper, this team should be one of the best in Europe, but they have to figure
    out a way to iron out in game issues if they hope to move into the top tier.
    Their dismal 0-2 showing last week set in motion another roster move, replacing support
    <%= link_to 'Patrick “Nyph” Funke', 'http://lol.esportspedia.com/wiki/Nyph', target:'_blank' %> with
    <%= link_to 'Mitch “Krepo” Voorspoels', 'http://lol.esportspedia.com/wiki/Krepo', target:'_blank' %>.
    There is too much talent on this roster to imagine them finishing outside of
    the top half of the league, but if they don’t turn it around soon that could be exactly what happens.
  </p>

  <p class='blog-text'><b>6) Copenhagen Wolves</b></p>
  <p class='paragraph'>
    Despite lingering near the bottom of the standings for the past few splits,
    the Wolves look to be on an upswing.
    <%= link_to 'Joey “Youngbuck” Steltenpool', 'http://lol.esportspedia.com/wiki/Youngbuck', target:'_blank' %>
    has often been criticised for being one of the lower tier top laners his
    performance has been steadily improving this split. Their new ADC
    <%= link_to 'Aleš “Freeze” Kněžínek', 'http://lol.esportspedia.com/wiki/Freeze', target:'_blank' %>
    has also demonstrated he still has what it takes to be a quality LCS player. Mid laner
    <%= link_to 'Søren “Soren” Holdt Frederiksen', 'http://lol.esportspedia.com/wiki/Soren', target:'_blank' %>
    was a question mark heading into the split but he too has proven he can
    compete within the LCS and make big plays to help his team out when they need
    it. While they may not become one of the better teams in Europe, they are
    looking better every week and should end up somewhere in the middle of the
    standings, potentially avoiding relegation matches for the first time in two years.
  </p>

  <p class='blog-text'><b>7) ROCCAT</b></p>
  <p class='paragraph'>
    Despite being one of the best rosters on paper, ROCCAT has been struggling
    significantly this split. The addition of
    <%= link_to 'Erlend “Nukeduck” Våtevik Holm', 'http://lol.esportspedia.com/wiki/Nukeduck', target:'_blank' %>
    has not proven to have the impact expected and
    <%= link_to 'Remigiusz “Overpow” Pusch', 'http://lol.esportspedia.com/wiki/Overpow', target: '_blank' %>
    has shown his lack of experience in the top lane, particularly in lane swap scenarios.
    <%= link_to 'Marcin “Jankos” Jankowski', 'http://lol.esportspedia.com/wiki/Jankos', target:'_blank' %> and
    <%= link_to 'Oskar “VandeR” Bogdan', 'http://lol.esportspedia.com/wiki/Vander', target:'_blank' %>
    were considered the two returning stars of the lineup but they have also faltered
    this split. There have been a litany of problems through the first half of the
    split. The team will need to significantly improve their coordination and macro
    play if they hope to rise to their predicted placing within Europe.
  </p>

  <p class='blog-text'><b>8) Gambit</b></p>
  <p class='paragraph'>
    The best of the three teams currently in relegation positions, Gambit has had
    some significant issues this season. Despite their impressive victory at IEM
    Cologne before the split began, they have looked shaky in many of their games.
    Recently, the team has looked stronger in spite of losing mid laner
    <%= link_to 'Sebastian “NiQ” Robak', 'http://lol.esportspedia.com/wiki/Niq', target:'_blank' %>
    for an unknown amount of time. The substitute they’ve used,
    <%= link_to 'Felix “Betsy” Edling', 'http://lol.esportspedia.com/wiki/Betsy', target:'_blank' %>,
    performed well last week and allowed them to continue to improve both their
    play and record in the league. With veterans
    <%= link_to 'Danil “Diamondprox” Reshetnikov', 'http://lol.esportspedia.com/wiki/Diamondprox', target:'_blank' %> and
    <%= link_to 'Edward “Edward” Abgaryan', 'http://lol.esportspedia.com/wiki/Edward', target:'_blank' %>,
    the team is unlikely to sink any lower in the standings, however they will
    need to play at their best if they hope to have a chance to earn Gambit a spot
    in the playoffs and avoid relegation matches altogether.
  </p>

  <p class='blog-text'><b>9) Meet Your Makers</b></p>
  <p class='paragraph'>
    This team has faced a mountain of controversy this split so far. After losing their mid laner
    <%= link_to 'Marcin “Kori” Wolski', 'http://lol.esportspedia.com/wiki/Kori', target:'_blank' %>
    only a few days prior to the start of the split, they were forced to use an unknown commodity in
    <%= link_to 'Marius “Blizer300” Haesumgaard', 'http://lol.esportspedia.com/wiki/Blizer', target:'_blank' %>
    for the first few weeks. Once the
    <%= link_to 'contract scandal', 'http://www.dailydot.com/esports/mym-kori-threatened-unpaid-wages/', target:'_blank' %>
    surrounding Kori was revealed, he returned to the team but there are clearly
    synergy and trust issues still present. Given some time with this roster, they
    should be able to improve enough to move themselves out of the final spot.
    Realistically, they are going to have to play relegation matches to remain in the LCS.
  </p>

  <p class='blog-text'><b>10) Giants</b></p>
  <p class='paragraph'>
    Currently the second worst team in Europe, but without any of the chaos surrounding
    MYM, the future for Giants appears bleak. Many of their players are struggling
    to adapt to the high level of play in the LCS and it is evident in their performance.
    One bright spot for the team is their mid lane star
    <%= link_to 'Isaac “PePiiNRro” Flores', 'http://lol.esportspedia.com/wiki/Pepiinero', target:'_blank' %>.
    However, with so many other fantastic players at the position this split, he
    has had a difficult time carrying his team to victory. They may be able to
    squeak out a 9th place finish in order to avoid automatic relegation, but
    that is about the best they could hope for. Their upset over Elements last
    week came about more through Elements’ misplays rather than good play from
    Giants, but still shows the team does have the potential to pull off upsets.
    The team will need to make sure they perform at their best every game to get
    wins like that if they hope to avoid the dreaded 10th place.
  </p>
</div>
