<!DOCTYPE html>
<html>
  <head>
    <title>Throoper</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <%= image_tag 'throop-banner.png', class:'banner' %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%= link_to image_tag('throoper-logo.png', class:"nav-logo"), "/" %>
            <li class="<%= current_page?('/') ? 'active' : 'nav-link' %>"><a href="/">HOME</a></li>
            <li class="<%= current_page?('/pages/youtube') ? 'active' : 'nav-link' %>"><a href="/pages/youtube">YOUTUBE</a></li>
            <!-- <li class="<%= current_page?('/pages/vods') ? 'active' : 'nav-link' %>"><a href="/pages/vods">VODS</a></li> -->
            <li class="<%= current_page?('/pages/blogs') ? 'active' : 'nav-link' %>"><a href="/pages/blogs">BLOGS</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <footer class="footer">
      <ul class="left-footer">
        <li class="<%= current_page?('/pages/about') ? 'active-footer' : 'footer-link' %>"><a href="/pages/about">About</a></li>
        <li class="<%= current_page?('/messages/new') ? 'active-footer' : 'footer-link' %>"><a href="/messages/new">Contact</a></li>
        <li class="footer-link"><%= link_to image_tag('grey-twitter.svg', class:'footer-icon'), 'https://twitter.com/David_Throop', target: '_blank' %></li>
        <li class="footer-link"><%= link_to image_tag('grey-instagram.svg', class:'footer-icon'), 'https://instagram.com/davethroop', target: '_blank' %></li>
        <li class="footer-link"><%= link_to image_tag('grey-youtube.svg', class:'footer-icon'), 'https://youtube.com/c/davethroop', target: '_blank' %></li>
      </ul>
    </footer>
  </body>
</html>
